@import url("./xy-theme.css");

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /* Prevent zoom on mobile when tapping */
  touch-action: manipulation;
  -webkit-touch-callout: none;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.context-menu button:hover {
  background: white;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 8px;
  border: 1px solid #1a192b;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  /* Prevent zoom or scroll when dragging nodes on mobile */
  touch-action: none;
  background: white;
  font-size: 12px;
  text-wrap: nowrap;
}

.dndflow .ghostnode {
  position: fixed;
  pointer-events: none;
  width: 100px;
}

.dndflow .dndnode:active {
  cursor: grabbing;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
